{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Ongi etorri</h1>
        <img src="/images/home/BTS_CIEL_IR.jpg" alt="BTS CIEL" width=100% height=auto>
    </div>
{% endblock %}