<footer id="footer" class="footer-container justify-content-between py-3 my-4 border-top">
    <div class="footer-content container-fluid">
        <div class="row">
            <p>
                <span class="pull-right">
                    <img src="{{ asset('images/Logo-St-Jo-transparent-150px.jpg') }}"
                         alt="BTS CIEL IR"> BTS CIEL IR - contact devweb@info.eh
                </span>
            </p>
        </div>
    </div>
</footer>