/*Largeur de la cellule nom la plus faible possible*/
th.name-cell, td.name-cell {
    width: 200px; /* ou width: 20%; selon ton besoin */
    white-space: nowrap;
    vertical-align: middle;
}
/*Passage à la ligne du texte de la description*/
td.description-cell {
    white-space: normal;
    word-break: break-word;
}

/*Boutons calés à droite */
td.action-cell {
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    width: 1%;
}
/*Titre reste calé à gauche*/
th.action-cell {
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    width: 1%;
}